* {
box-sizing: border-box;
}

body, html {
height: 100%;
padding: 0;
margin: 0;
font-family: sans-serif;
color: #333;
background-color: #a5e992;
}

a {
text-decoration: none;
color: #54754b;
font-weight: bold;
transition: color .1s;
margin-right: 30px;
font-size: 30px;
}

a:hover {
color: #81caa8;
}
article .title{
 width: auto;
 height: auto;
 background-color: #2c2a2a;
 color: white;
 font-size: 25px;
 padding: 1%;
}
article div a {
    font-size: 20px;
    color: #bbcce0;
}
button {
background-color: #2c2a2a;
border: 0;
padding: 1%;
color: white;
font-weight: bold;
transition: background-color .1s;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background-color: #3a4655;
}

.post-list {
margin: 0;
padding: 0;
}

textarea, input {
padding: .5%;
border-radius: 5px;
border: 1px solid #ccc;
min-width: 100%;
min-height: 40px;
}

textarea:focus, input:focus {
outline: none;
border: 1px solid #3486eb;
}

form > div {
margin-bottom: 2%;
}

form label {
display: block;
}

header {
border-bottom: 1px solid #ccc;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1%;
background-color: #2c2a2a;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1%;
margin: 20px 0;
}

main {
flex: 1;
padding: 2% 4%;
}

.btn-no-style {
text-decoration: none;
color: #54754b;
font-weight: bold;
transition: color .1s;
margin-right: 30px;
font-size: 30px;
justify-self: auto;
}

.btn-no-style:hover {
background: none;
color: #81caa8;
}

.delete-post-btn {
background-color: #d41414;
}

.delete-post-btn:hover {
background-color: #ff643d;
}

.post {
margin-bottom: 2%;
line-height: 150%;
}

.post .title span {
font-style: italic;
font-size: 60%;
color: #c1d4c7;
}

.comment-form {
margin-bottom: 5%;
}

.comment {
padding: 1%;
margin-bottom: 1%;
border: solid black;

}

.comment:nth-child(odd) {
background-color: #fff5eb;
}
.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
    border-bottom: solid gray 2px;
}

.login-form {
    width: 100%;
    padding: 0.75rem;
    color: #1a1a1a;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
}

article div p {
    font-size: 80%;
    background-color:#a5e992 ;
    line-height: 2;
    margin: 0;
    color: black;
    max-width: 100%;
}