* {
box-sizing: border-box;
}

body, html {
height: 100%;
padding: 0;
margin: 0;
font-family: sans-serif;
color: #333;
background-color: #54754b;
}

a {
text-decoration: none;
color: #54754b;
font-weight: bold;
transition: color .1s;
margin-right: 30px;
font-size: 30px;
}
div post title a {
    color: #8ee974;
}
a:hover {
color: #81caa8;
}
article .title{
 width: auto;
 height: auto;
 background-color: #000000;
 color: #bdc2d8;
 font-size: 25px;
}
article div a {
    font-size: 20px;
    color: #3a4655;
}
button {
background-color: #000000;
border: 0;
padding: 1%;
color: white;
font-weight: bold;
transition: background-color .1s;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background-color: #3a4655;
}

.post-list {
margin: 0;
padding: 0;
}

textarea, input {
padding: .5%;
border-radius: 5px;
border: 1px solid #ccc;
min-width: 100%;
min-height: 40px;
}

textarea:focus, input:focus {
outline: none;
border: 1px solid #3486eb;
}

form > div {
margin-bottom: 2%;
}

form label {
display: block;
}

header {
border-bottom: 1px solid #ccc;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1%;
background-color: #000000;
}

nav{
    margin: 20px 0;
}
main {
flex: 1;
padding: 2% 4%;
}

.btn-no-style {
text-decoration: none;
color: #54754b;
font-weight: bold;
transition: color .1s;
margin-right: 30px;
font-size: 30px;
}

.btn-no-style:hover {
background: none;
color: #81caa8;
}

.delete-post-btn {
background-color: #d41414;
}

.delete-post-btn:hover {
background-color: #ff643d;
}

.post {
margin-bottom: 2%;
line-height: 150%;
}

.post .title span {
font-style: italic;
font-size: 60%;
color: #c1d4c7;
}

.login-form {
    width: 100%;
    padding: 0.75rem;
    color: #1a1a1a;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
}